@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
  --font-sans: 'Poppins', sans-serif;
  --grid-template-columns-70\/30: 70% 28%;
}